body {
  background-color: darkgray;
  text-align: center;
}
.texts {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  width: 80%;
  margin-top: 2rem;
  background-color: white;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.28);
}
.newProverb {
  box-shadow: 1px 1px 5px rgba(173,216,230,0.18);
}
.buttonActions {
}
input {
  position: relative;
}
.pSource {
  font-weight: bold;
  font-size: 2rem;
  color: black;
}
.pTranslation {
  font-size: 1.8rem;
}
.goHome {
  margin-top: 10%;
}

@media (min-width: 700px) {
  .pSource {
    font-size: : 1.7rem;
    }
  .pTranslation {
    font-size: 1.4rem;
  }
  .texts {
    width: 60%;
  }
}
