body {
  background-color: darkgray;
  text-align: center;
}
.texts {
  background-color: white;
  position: relative;
  /*width: 100%;*/
  max-width: 85%;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.28);
}
.newProverb {
  box-shadow: 1px 1px 5px rgba(173,216,230,0.18);
  position: relative;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.pSource {
  font-weight: bold;
  font-size: 4rem;
  color: black;
}
.pTranslation {
  font-size: 3rem;
}
.goHome {
  margin-top: 10%;
}
img {
    width: 30px;
}


@media (min-width: 1024px) {
  .pSource {
    font-size: 2rem;
    }
  .pTranslation {
    font-size: 1.4rem;
  }
  .texts {
    width: 60%;
  }
}
